<% @country_statements.each do |country_code, (statements, invalid_statements)| %>
  <h2>
    <% if country = @country_lookup[country_code.downcase] %>
      <%= link_to country.name, country %>
    <% else %>
      <%= country_code %>
      <%= link_to '(create country)', new_country_path %>
    <% end %>
  </h2>
  <table class="wikitable">
    <thead>
      <tr>
        <th>Wikidata position</th>
        <th>Page</th>
        <th>Unchecked</th>
        <th>Correct</th>
        <th>Incorrect</th>
      </tr>
    </thead>
    <tbody>
      <% statements.each do |statement| %>
      <tr>
        <td>
          <%= link_to "https://www.wikidata.org/wiki/#{statement.position}" do %>
            <%= @position_name_mapping[statement.position]&.label %>
            <small>(<%= statement.position %>)</small>
          <% end %>
        </td>
        <td><% if statement.pages.each do |page_title| %>
          <a href="https://www.wikidata.org/wiki/<%= page_title %>"><%= page_title %></a>
          <% end.empty? %>
          missing (<%= link_to 'Create page', new_page_path(
            title: "User:Verification_pages_bot/verification/#{country_code.downcase}/",
            position_held_item: statement.position,
            csv_source_url: SuggestionsStore::Country.new(code: country_code.downcase).export_position_url(position: statement.position, format: 'csv'),
            country_id: @country_lookup[country_code.downcase]
          ) %>)
        <% end %></td>
        <td><%= statement.unchecked %></td>
        <td><%= statement.correct %></td>
        <td><%= statement.incorrect %></td>
      </tr>
    <% end %>
    <% if invalid_statements.count > 0 %>
    <tr>
      <td colspan="5">
        <details>
          <summary>Invalid statements: <%= invalid_statements.count %></summary>

          <table class="wikitable">
            <tr>
              <th>Transaction ID</th>
              <th>Electoral District</th>
              <th>Role code</th>
            </tr>
            <% invalid_statements.each do |statement| %>
            <tr>
              <td><%= statement['transaction_id'] %></td>
              <td><a href="https://www.wikidata.org/wiki/<%= statement['electoral_district_item'] %>"><%= statement['electoral_district_item'] %></a></td>
              <td><%= statement['role_code'] %></td>
            </tr>
            <% end %>
          </table>
        </details>
      </td>
    </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
