<% @country_statements.each do |country_code, statements| %>
  <h2>
    <% if country = @country_lookup[country_code.downcase] %>
      <%= link_to country.name, country %>
    <% else %>
      <%= country_code %>
      <%= link_to '(create country)', new_country_path %>
    <% end %>
  </h2>
  <table class="wikitable">
    <thead>
      <tr>
        <th>Wikidata position</th>
        <th>Page</th>
        <th>Unchecked</th>
        <th>Correct</th>
        <th>Incorrect</th>
      </tr>
    </thead>
    <tbody>
      <% statements.each do |statement| %>
      <tr>
        <td><%= link_to statement.position, "https://www.wikidata.org/wiki/#{statement.position}" %></td>
        <td><% if statement.pages.each do |page_title| %>
          <a href="https://www.wikidata.org/wiki/<%= page_title %>"><%= page_title %></a>
          <% end.empty? %>
          missing (<%= link_to 'Create page', new_page_path(
            title: "User:Verification_pages_bot/verification/#{country_code.downcase}/",
            position_held_item: statement.position,
            csv_source_url: "#{ENV['SUGGESTIONS_STORE_URL']}export/#{country_code.downcase}/#{statement.position}.csv",
            country_id: Country.find_by(code: country_code.downcase)
          ) %>)
        <% end %></td>
        <td><%= statement.unchecked %></td>
        <td><%= statement.correct %></td>
        <td><%= statement.incorrect %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
