=Dashboard of statements for {{Q|<%= page.position_held_item %>}}=

<div id="js-verification-tool"></div>

<br>

{{cmbox | text = <div style="margin-top:14px">You can contribute your own verifications to this page by adding the following line to '''[[Special:MyPage/common.js|your common.js]]''':</div><pre>importScript('User:<%= wikidata_bot %>/verification.js');</pre> }}


<% unless statements.verifiable.empty? %>
=New statements to verify=

{{User:<%= wikidata_bot %>/verification/table_header}}
<% statements.verifiable.each do |statement| %>
  <%= render_row page, statement %>
<% end %>
{{User:<%= wikidata_bot %>/verification/table_footer}}
<% end %>


<% unless statements.unverifiable.empty? %>
=Statements which are unverifiable=

{{User:<%= wikidata_bot %>/verification/table_header}}
<% statements.unverifiable.each do |statement| %>
  <%= render_row page, statement %>
<% end %>
{{User:<%= wikidata_bot %>/verification/table_footer}}
<% end %>


<% unless statements.reconcilable.empty? %>
=Statements to reconcile=

{{User:<%= wikidata_bot %>/verification/table_header}}
<% statements.reconcilable.each do |statement| %>
  <%= render_row page, statement %>
<% end %>
{{User:<%= wikidata_bot %>/verification/table_footer}}
<% end %>


<% unless statements.actionable.empty? %>
=Statements to action=

{{User:<%= wikidata_bot %>/verification/table_header}}
<% statements.actionable.each do |statement| %>
  <%= render_row page, statement %>
<% end %>
{{User:<%= wikidata_bot %>/verification/table_footer}}
<% end %>


<% unless statements.manually_actionable.empty? %>
=Statements requiring manual intervention=

{{User:<%= wikidata_bot %>/verification/table_header}}
<% statements.manually_actionable.each do |statement| %>
  <%= render_row page, statement %>
<% end %>
{{User:<%= wikidata_bot %>/verification/table_footer}}
<% end %>


<% unless statements.done.empty? %>
=Statements already verified & reconciled=

{{User:<%= wikidata_bot %>/verification/table_header}}
<% statements.done.each do |statement| %>
  <%= render_row page, statement %>
<% end %>
{{User:<%= wikidata_bot %>/verification/table_footer}}
<% end %>
