<%= form_for @page, html: { class: "form-horizontal page" } do |f| %>

  <% if @page.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @page.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title, class: 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :title, class: 'form-control' %>
    </div>
    <%= f.error_span(:title) %>
  </div>
  <div class="form-group">
    <%= f.label :position_held_item, class: 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :position_held_item, class: 'form-control' %>
    </div>
    <%= f.error_span(:position_held_item) %>
  </div>
  <div class="form-group">
    <%= f.label :parliamentary_term_item, class: 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :parliamentary_term_item, class: 'form-control' %>
    </div>
    <%= f.error_span(:parliamentary_term_item) %>
  </div>
  <div class="form-group">
    <%= f.label :reference_url, class: 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :reference_url, class: 'form-control' %>
    </div>
    <%= f.error_span(:reference_url) %>
  </div>
  <div class="form-group">
    <%= f.label :csv_source_url, class: 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :csv_source_url, class: 'form-control' %>
    </div>
    <%= f.error_span(:csv_source_url) %>
  </div>
  <div class="form-group">
    <%= f.label :country_id, class: 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.collection_select :country_id, Country.all, :id, :name, class: 'control-label col-lg-2', prompt: true %>
    </div>
    <%= f.error_span(:country_id) %>
  </div>
  <div class="form-check">
    <%= f.check_box :require_parliamentary_group %>
    <%= f.label :require_parliamentary_group, class: 'form-check-label' %>
    <%= f.error_span(:require_parliamentary_group) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, class: 'btn btn-primary' %>
      <%= link_to t('.cancel', default: t("helpers.links.cancel")),
                pages_path, class: 'btn btn-default' %>
    </div>
  </div>

<% end %>
