<%- model_class = Page -%>
<div class="page-header">
  <h1><%= t '.title', default: model_class.model_name.human.titleize %></h1>
</div>

<% if flash[:notice] %>
  <p class="flash flash-notice"><%= flash[:notice] %></p>
<% end %>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @page.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:position_held_item) %>:</strong></dt>
  <dd><%= @page.position_held_name %> (<%= @page.position_held_item %>)</dd>
  <dt><strong><%= model_class.human_attribute_name(:parliamentary_term_item) %>:</strong></dt>
  <dd><%= @page.parliamentary_term_name %> (<%= @page.parliamentary_term_item %>)</dd>
  <dt><strong><%= model_class.human_attribute_name(:reference_url) %>:</strong></dt>
  <dd><%= @page.reference_url %></dd>
  <!--
  <dt><strong><%= model_class.human_attribute_name(:reference_url_title) %>:</strong></dt>
  <dd><%= @page.reference_url_title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:reference_url_language) %>:</strong></dt>
  <dd><%= @page.reference_url_language %></dd>
  -->
  <dt><strong><%= model_class.human_attribute_name(:csv_source_url) %>:</strong></dt>
  <dd><%= @page.csv_source_url %></dd>
  <dt><strong><%= model_class.human_attribute_name(:country_id) %>:</strong></dt>
  <dd><%= link_to @page.country.name, @page.country %></dd>
  <dt><strong><%= model_class.human_attribute_name(:require_parliamentary_group) %>:</strong></dt>
  <dd><%= @page.require_parliamentary_group %></dd>
  <dt><strong><%= model_class.human_attribute_name(:executive_position) %>:</strong></dt>
  <dd><%= @page.executive_position %></dd>
  <dt><strong>Statements</strong></dt>
  <dd><%= @page.statements.count %></dd>
</dl>

<%= link_to t('.back', default: t("helpers.links.back")),
              pages_path, class: 'btn btn-default'  %>
<%= link_to t('.edit', default: t("helpers.links.edit")),
              edit_page_path(@page), class: 'btn btn-default' %>
<%= link_to t('.destroy', default: t("helpers.links.destroy")),
              page_path(@page),
              method: 'delete',
              data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) },
              class: 'btn btn-danger' %>

<%= link_to 'Load statements', load_page_path(@page), method: :post, class: 'btn btn-default' %>
<%= link_to 'Create or update verification page on Wikidata', create_wikidata_page_path(@page), method: :post, class: 'btn btn-default' %>

<p id="wqs-link-container">
  <a href="https://query.wikidata.org/#<%= ERB::Util.url_encode(@query) %>">Find current positions from Wikidata</a>
</p>
