<%- model_class = Page -%>
<div class="page-header">
  <h1><%= t '.title', default: model_class.model_name.human.titleize %></h1>
</div>

<% if @page.archived? %>
  <p class="alert alert-warning">This page has been archived.</p>
<% end %>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= link_to_wiki @page.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:country_id) %>:</strong></dt>
  <dd><%= link_to @page.country.name, @page.country %></dd>
  <dt><strong><%= model_class.human_attribute_name(:position_held_item) %>:</strong></dt>
  <dd><%= link_to_wiki @page.position_held_name, @page.position_held_item %></dd>
  <dt><strong><%= model_class.human_attribute_name(:parliamentary_term_item) %>:</strong></dt>
  <dd><%= link_to_wiki @page.parliamentary_term_name, @page.parliamentary_term_item %></dd>
  <dt><strong><%= model_class.human_attribute_name(:reference_url) %>:</strong></dt>
  <dd><%= link_to @page.reference_url %></dd>
  <!--
  <dt><strong><%= model_class.human_attribute_name(:reference_url_title) %>:</strong></dt>
  <dd><%= @page.reference_url_title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:reference_url_language) %>:</strong></dt>
  <dd><%= @page.reference_url_language %></dd>
  -->
  <dt><strong><%= model_class.human_attribute_name(:csv_source_url) %>:</strong></dt>
  <dd><%= link_to @page.csv_source_url %></dd>
  <dt><strong><%= model_class.human_attribute_name(:new_item_description_en) %>:</strong></dt>
  <dd><%= @page.new_item_description_en %></dd>
  <dt><strong><%= model_class.human_attribute_name(:new_item_label_language) %>:</strong></dt>
  <dd><%= @page.new_item_label_language %></dd>
  <dt><strong><%= model_class.human_attribute_name(:executive_position) %>:</strong></dt>
  <dd><%= @page.executive_position %></dd>
  <dt><strong><%= model_class.human_attribute_name(:archived) %>:</strong></dt>
  <dd><%= @page.archived %></dd>
  <dt><strong>Statements</strong></dt>
  <dd>Active: <%= @page.statements.where(duplicate: false, removed_from_source: false).count %></dd>
  <dd>Duplicates: <%= @page.statements.where(duplicate: true).count %></dd>
  <dd>Removed from CSV source: <%= @page.statements.where(duplicate: false, removed_from_source: true).count %></dd>
  <dd>Total: <%= @page.statements.count %></dd>
</dl>

<%= link_to t('.back', default: t("helpers.links.back")),
              pages_path, class: 'btn btn-default'  %>
<%= link_to t('.edit', default: t("helpers.links.edit")),
              edit_page_path(@page), class: 'btn btn-default' %>
<%= link_to t('.destroy', default: t("helpers.links.destroy")),
              page_path(@page),
              method: 'delete',
              data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) },
              class: 'btn btn-danger' %>

<%= link_to 'Load statements', load_page_path(@page), method: :post, class: 'btn btn-default' %>
<%= link_to 'Create or update verification page on Wikidata', create_wikidata_page_path(@page), method: :post, class: 'btn btn-default' %>

<p id="wqs-link-container">
  <a href="https://query.wikidata.org/#<%= ERB::Util.url_encode(@query) %>">Find current positions from Wikidata</a>
</p>
