<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @country.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @country.code %>
</p>

<p>
  <strong>Description en:</strong>
  <%= @country.description_en %>
</p>

<p>
  <strong>Label lang:</strong>
  <%= @country.label_lang %>
</p>

<p>
  <strong>Wikidata:</strong>
  <%= @country.wikidata_id %>
</p>

<%= link_to 'Edit', edit_country_path(@country) %> |
<%= link_to 'Back', countries_path %>
<%= link_to 'Load statements', load_country_path(@country), method: :post, class: 'btn btn-default' %>
